{% extends 'base.html' %}


{% block content %}

    <Br/>
    <Br/>
    <h1 align="center">Portfolio Optimizer Setup</h1>


    <Br/>

<!--    <u><h3>Setup</h3></u>-->
    <form action="result" method="post">

      {% csrf_token %}
      <div>
        <u><b>Please Specify The Parameters</b></u>
      </div>
      <div>
        <label>Initial Investment</label>
        <input type="number" name="cap">
      </div>
      <div>
        <label>Risk Constraint</label>
        <input type="number" step="any" name="sigma">
      </div>
      <div>
        <label>Test Start</label>
        <input type="date" name="test_start">
      </div>
      <div>
        <label>Test End</label>
        <input type="date" name="test_end">
      </div>
      <div>
        <label for="rebf">Rebalance Freq</label>
        <select name="rebf" id="rebf">
          <option value="daily">daily</option>
          <option value="weekly">weekly</option>
          <option value="monthly">monthly</option>
        </select>
      </div>
      <div>
        <label for="Market">Market/Index</label>
        <select name="Market" id="Market">
          <option value="HS300">HS300</option>
          <option value="CSI500">CSI500</option>
          <option value="SSE50">SSE50</option>
          <option value="SZ100">SZ100</option>
          <option value="CYB50">CYB50</option>
          <option value="HSI">HSI</option>
          <option value="SP500">SP500</option>
        </select>
      </div>
      <div>
        <Br/>
      </div>
      <div>
        <u><b>Please Select Portfolio Models</b></u>
      </div>
      <div>
        <input type="checkbox" id="EW" name="EW" >
        <label for="EW">Eqaully Weighted</label>
      </div>
      <div>
        <input type="checkbox" id="Factor" name="Factor" >
        <label for="Factor">Factor</label>
      </div>
      <div>
        <input type="checkbox" id="Risk_Parity" name="Risk_Parity" >
        <label for="Risk_Parity">Risk Parity</label>
      </div>
      <div>
        <input type="checkbox" id="Min_Var" name="Min_Var" >
        <label for="Min_Var">Minimum Variance</label>
      </div>
      <div>
        <input type="checkbox" id="MAXSER" name="MAXSER" >
        <label for="MAXSER">MAXSER</label>
      </div>
      <div>
        <input type="checkbox" id="MAXSER_H" name="MAXSER_H" >
        <label for="MAXSER_H">MAXSER_H</label>
      </div>
      <div>
        <input type="checkbox" id="MAXSER_Stock_Long_Only" name="MAXSER_Stock_Long_Only" >
        <label for="MAXSER_Stock_Long_Only">MAXSER_SLO</label>
      </div>
      <div>
        <input type="checkbox" id="MAXSER_ALL_Long_Only" name="MAXSER_ALL_Long_Only" >
        <label for="MAXSER_ALL_Long_Only">MAXSER_ALO</label>
      </div>
      <div>
        <input type="checkbox" id="MAXSER_H_Stock_Long_Only" name="MAXSER_H_Stock_Long_Only" >
        <label for="MAXSER_H_Stock_Long_Only">MAXSER_H_SLO</label>
      </div>
      <div>
        <input type="checkbox" id="MAXSER_H_ALL_Long_Only" name="MAXSER_H_ALL_Long_Only" >
        <label for="MAXSER_H_ALL_Long_Only">MAXSER_H_ALO</label>
      </div>
      <Br/>
      <div>
        <input type="submit" id="bt" name="bt" value="BACKTEST">
        <label for="bt"></label>
        <input type="reset" id="rst" name="rst" value="RESET">
        <label for="rst"></label>
      </div>
      <Br/>
      <Br/>
      <Br/>
      <Br/>

    </form>


{% endblock %}
